@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@* src="https://cdn.dribbble.com/users/1162077/screenshots/3848914/programmer.gif" *@